/* background color*/

body{
	background-color:#000000;
	font-family: 'open sasns', sans-serif;
	margin: 0;
}

.header-og{
	text-align: center;
}

.main-heading{
	  color: #aeaeae;
	  font-size: 70px;
}


.section-all{
	display: flex;
	margin: 100px auto;
	width: 1100px;
}

.footer1{
      background-color:#444444;
      padding: 1px;
      text-align: center;
}

.created-by{
		color:#aeaeae ;
	font-size: 20 px;
}